
@{
    Layout = null;
}
            <img src="~/Content/tree.png" style="width:50px;" />
            <ul>
                <li>Maple</li>
                <li>Palm</li>
                <li>Birch</li>
                <li>Cedar</li>
            </ul>

