
@{
    Layout = null;
    string[] Trees = { "Maple", "Palm", "Birch", "Cedar", "Pine" };
}
            <h2>Tree List</h2>
            <img src="~/Content/tree.png" style="width:50px;" />

            <ul>
                @foreach (var t in Trees)
                {
                    <li>@t</li>
                }
            </ul>
   

