@model MyChoice.Models.treeModel
@{
      var displayTree = "";
    var message = "";

    if (IsPost)
    {
        var nam = Request["treeName"];
        var pri = Request["price"];
        var fullinfo = "";

        fullinfo = nam + " " + "$" + pri;
        displayTree = fullinfo;
    }
    else
    {
        message = "You have not put in a correct input.";
    }
}
<p>You have added a new tree.</p>
<p>@displayTree</p>



