
@{
    ViewBag.Title = "Tree Index";
}

@section header{
    <header>
        <small>Trees</small>
    </header>
}
<h2>Tree Index</h2>
<img src="~/Content/tree.png" style="width:50px;" />
@section scripts{
    <script>
        $("h2").css({ "background-color": "black", "color": "Yellow", "padding": "10px" });
    </script>
}


