@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/tree.png" style="width:50px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tree's 4 Beez</h2>
        <p>
            Bee's need trees in order to live but they cant plant them.  Buy trees online so your freindly neighborhood Bees will have food.
        </p>
    </div>
</div>